body{
	background-color: white;
}

h1{
	text-align: center;
	font-family: 'Lobster', cursive;
}

.start-page {
	min-height: 450px;
	font-size: 170%;
	text-align: center;
	margin-top: 2%;
}

#page-name {
	font-size: 200%;
	margin: 0 auto 2% auto;
	font-family: 'Lobster', cursive;
}

#startImg {
	width: 30%;
}

#start-info {
	font-size: 80%;
	text-align: justify;
	margin: 3% 5% 1% 5%;
}

.start-button{
	cursor: pointer;
	display: block;
	width: 15%;
	height: 40px;
	margin: 2% auto;
	border-style: solid;
	border-width: 3%;
	border-color: #BFBFBF;
	background-color: #BFBFBF;
	text-align: center;
	font-size: 90%;
}

.start-button:hover{
	background-color: #DBDBDB;
	font-size: 87%;
}

#smartwizard {
	display: none;
}

.wizard-content{
	min-height: 450px ! important;
}

.step-description {
	font-size: 130%;
	text-align: center;
}

#piggybank{
	height: 400px;
	display: block;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.3;
}

.lowMoney img, .highMoney img{
	height: 110px;
	display: block;
	margin-top: 8%;
	opacity: 0.85;
	cursor: grab;
}

.lowMoney{
	float: left;
	margin-left: 5%;
}

.highMoney{
	float: right;
	margin-right: 5%;
	z-index: 2;
}

.budget, .verbrauch{
	display: block;
	width: 10%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 3%;
	border-color: #BFBFBF;
	text-align: center;
	font-size: 130%;
}

.budget {
	margin-top: 2%;
}

.delete-button, .replay-button, .remove-button, .add-button, .parent-icon, .child-icon, .delete_forever-button {
	position: absolute;
	font-size: 250%;
	color: #BFBFBF;
	cursor: pointer;
}

.delete-button, .remove-button, .parent-icon {
	float: left;
	margin-left: 38%;
}

.replay-button, .add-button, .child-icon {
	float: right;
	margin-left: 58%;
}

.delete_forever-button {
	float: right;
	margin-left: 68%;
}

.picturesAlter, .picturesKM, .picturesPs, .picturesSitze {
	height: 200px;
	text-align: center;
}

.picturesAlter img {
	max-height: 100%;
	max-width: 20%;
	margin: 5% 2%;
	cursor: pointer;
}

.picturesKM img {
	max-width: 25%;
	margin: 5% 4%;
	cursor: pointer;
}

#mars {
	max-height: 70%;
}

#erde {
	max-height: 80%;
}

#phobos {
	max-height: 110%;
}

#neptun {
	max-height: 130%;
}

.picturesPs img, .picturesSitze img {
	max-height: 100%;
	max-width: 33%;
	margin: 5% 4%;
	cursor: pointer;
}

.symbol-def, .frequency {
	color: black;
	font-size: 120%;
}

.symbol-def {
	margin-top: 5%;
	right: 3%;
	position: absolute;
}

.frequency {
	margin-right: 10%;
}

.work-strecke, .shopping-strecke, .school-strecke, .hobby-strecke {
	float: right;
	margin-right: 3%;
	width: 35%;
	text-align: center;
	position: absolute;
	right: 0;
}

.work-strecke {
	margin-top: 5%;
}

.shopping-strecke {
	margin-top: 9%;
}

.school-strecke {
	margin-top: 13%;
}

.hobby-strecke {
	margin-top: 17%;
}

.symbol-def p {
	margin: 0 0 40% 0;
}

.frequency p {
	float: right;
	margin: 2% 2% 0 2%;
}

.work-strecke span, .shopping-strecke span, .school-strecke span, .hobby-strecke span {
	margin-left: 7%;
	margin-right: 7%;
}

.work-buttonT, .shopping-buttonT, .school-buttonT, .hobby-buttonT {
	color: green;
}

.work-buttonO, .shopping-buttonO, .school-buttonO, .hobby-buttonO {
	color: yellow;
}

.work-buttonS, .shopping-buttonS, .school-buttonS, .hobby-buttonS {
	color: red;
}

.user-interface-seats {
	position: relative;
}

.picturesSitze img {
	margin: 1%;
	cursor: default;
}

.parent-icon, .child-icon {
	color: black;
	font-size: 350%;
	margin-top: 10%;
	margin-bottom: 5%;
	cursor: grab;
}

.delete_forever-button {
	color: black;
	font-size: 350%;
	margin-top: 10%;
	margin-bottom: 5%;
	cursor: pointer;
}

.seat-spans {
	position: absolute;
	display: inline;
}

.seat-spans div {
	display: block;
}

.two-seats-span, .five-seats-span-front, .five-seats-span-back,
.seven-seats-span-front, .seven-seats-span-middle, .seven-seats-span-back {
	opacity: 0.7;
	font-size: 350%;
	cursor: default;
}

.\32 Seat  {
    margin-top: -95%;
    margin-left: 155%;
}

.\35 Seat-front {
    margin-left: 420%;
    margin-top: -75%;
}

.\35 Seat-back {
    margin-left: 470%;
    margin-top: -90%;
}

.\37 Seat-front {
    margin-left: 680%;
    margin-top: -90%;
}

.\37 Seat-middle {
    margin-left: 745%;
    margin-top: -73%;
}

.\37 Seat-back {
    margin-left: 785%;
    margin-top: -90%;
}

.verbrauchSpace {
	height: 480px;
}

.picturesVerbrauch {
	height: 300px;
}

.picturesVerbrauch img {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
	margin-top: 15%;
}

.slidecontainer p {
	font-size: 150%;
	margin: 1%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
