body{
	background-color: white;
}

h1{
	text-align: center;
}

#piggybank{
	height: 400px;
	display: block;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.3;
}

#money500 ,#money1000, #money5000, #money10000, #money50000, #money100000 {
	height: 110px;
	display: block;
	margin-top: 8%;
	opacity: 0.85;
}

.lowMoney{
	float: left;
	margin-left: 5%;
}

.bank {
	margin-left: 30%;
	margin-right: 30%;
}

.highMoney{
	float: right;
	margin-right: 5%;
	z-index: 2;
}

.wizard-content{
	min-height: 600px ! important;
}

.step-description {
	font-size: 130%;
	text-align: center;
}

.budget, .verbrauch {
	display: block;
	width: 10%;
	height: 30px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 3%;
	border-color: #BFBFBF;
	text-align: center;
	font-size: 130%;
}

.delete-button, .replay-button, .remove-button, .add-button {
	position: absolute;
	font-size: 250%;
	color: #BFBFBF;
	cursor: pointer;
}

.delete-button, .remove-button {
	float: left;
	margin-left: 38%;
}

.replay-button, .add-button {
	float: right;
	margin-left: 58%;
}

.picturesAlter, .picturesKM, .picturesPs {
	height: 300px;
}

.picturesAlter img {
	max-height: 100%;
	max-width: 20%;
}

.picturesAlter img {
	max-height: 100%;
	max-width: 20%;
}

.picturesKM img {
	max-height: 100%;
	max-width: 25%;
}

.picturesPs img {
	max-height: 100%;
	max-width: 33%;
}

.verbrauchSpace {
	height: 480px;
}

.picturesVerbrauch {
	height: 300px;
}

.picturesVerbrauch img {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
